In [169]:
import cv2
import pandas as pd
from scipy import ndarray
from matplotlib import pyplot as plt
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.externals import joblib
from sklearn.metrics import accuracy_score
from imutils.perspective import four_point_transform
from imutils import contours
import imutils
import random
import skimage as sk
from PIL import Image
import uuid

path = "Datasets/HQ_digital"
csv = "Datasets/HQ_quality"
data = pd.read_csv(csv +'.csv', sep=';', index_col=0)

# PREPROCESSING FUNCTIONS

In [8]:
#Run this function first
def preprocess_and_find_display(image):
    
    image = imutils.resize(image.copy(), height=500)
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    ret,thresh = cv2.threshold(gray,127,255,1)
    a,cnts,h = cv2.findContours(thresh,1,2)
    cnts = sorted(cnts, key=cv2.contourArea, reverse=True)
    displayCnt = None

    for cnt in cnts:
        approx = cv2.approxPolyDP(cnt,0.01*cv2.arcLength(cnt,True),True)
        if len(approx)==4 and cv2.contourArea(approx) > 100*200 :
            displayCnt = approx

            break
    warped = four_point_transform(gray, displayCnt.reshape(4, 2))
    output = four_point_transform(image, displayCnt.reshape(4, 2))
    plt.imshow(warped,cmap = 'gray')
    plt.show()
    
    return warped, output

In [120]:
def crop_digits(image):
    digits = []
    image_width = image.shape[1]
    cropped = image[10:160, 10:(round((3/5)*image_width))]
    width = cropped.shape[1]
    w_1 = cropped[:, -round(width/4):]
    w_2 = cropped[:, -2*round(width/4):-round(width/4):]
    w_3 = cropped[:, -3*round(width/4):-2*round(width/4):]
    w_4 = cropped[:, :-3*round(width/4):]
    digits.append(w_1)
    digits.append(w_2)
    digits.append(w_3)
    digits.append(w_4)
    return digits

def suppress_black_contour(image, th_pix_blanc):
    h, w = image.shape
    nb_pix_rect = 0 # left crop
    x = 0
    while nb_pix_rect <th_pix_blanc:
        left_rect = image[:,:x]
        nb_pix_rect = np.sum(left_rect == 255)
        x += 1
    img = image[:, x +1 :]
    nb_pix_rect = 0 # right crop
    x = 0
    while nb_pix_rect <th_pix_blanc:
        right_rect = image[:,w-x:]
        nb_pix_rect = np.sum(right_rect == 255)
        x += 1
    img = img[:, :w-x +1]
    nb_pix_rect = 0  # top crop
    x = 0
    while nb_pix_rect <th_pix_blanc/3:
        top_rect = image[h-x +1:,:]
        nb_pix_rect = np.sum(top_rect == 255)
        x += 1
    img = img[:h-x, :]
    nb_pix_rect = 0 # bottom crop
    x = 0
    while nb_pix_rect <th_pix_blanc/3:
        bot_rect = image[:x,:]
        nb_pix_rect = np.sum(bot_rect == 255)
        x += 1
    img = img[x+1:, :]
    return img

def clean_digits(digits, th_pix_blanc_tot, th_pix_blanc_sup):
    digits_clean = []
    stop = 0
    nb_digits = 0
    for i in range(4):
        image = digits[i]
        blurred = cv2.bilateralFilter(image, 10, 10, 100)
        thresh = cv2.adaptiveThreshold(blurred, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C,
                                   cv2.THRESH_BINARY, 17, 2)
        inv = cv2.bitwise_not(thresh)
        kernel = np.ones((7,7), np.uint8)
        closing = cv2.morphologyEx(inv, cv2.MORPH_CLOSE, kernel)
        dilatation = cv2.dilate(closing, np.ones((3,3), np.uint8), iterations = 2)
        plt.imshow(dilatation, cmap = "gray")
        k = np.sum(dilatation == 255)
        print(k)
        if k > th_pix_blanc_tot and stop == 0:
            im2 = suppress_black_contour(dilatation, th_pix_blanc_sup)
            h, w = im2.shape
            if h> 80 and w >25: # pour ne pas garder les petits coins d'images tout blancs
                im3 = cv2.resize(im2, (80,50)).flatten()
                digits_clean.append(im3)
                #plt.imshow(im2,cmap = "gray")
                #plt.show()
                nb_digits +=1
            else:
                stop = 1
        digits_clean = digits_clean[::-1]
    return digits_clean, nb_digits

In [121]:
#### TOTAL PREPROCESSING PIPELINE ######

def digits_clean_loc(i, h_noise, h_2, lowThreshold, t, t_2):
    image = cv2.imread(path + '/' + data.loc[i, 'image'])
    image_name = data.loc[i, 'image']
    # pre-process the image
    warped, output = preprocess_and_find_display(image)
    digits = crop_digits(warped)
    digits_clean, n = clean_digits(digits, th_pix_blanc_tot, th_pix_blanc_sup)    
    return (image_name, digits_clean)

# PREPROCESSING

###### PARAMETERS TO CHOOSE #######
i = 1
h_noise = 10 # noise coefficient
h_2 = 15
lowThreshold = 50 # canny edge detection
t = 150 # threshold to separate white/black
t_2 = 150
th_pix_blanc_tot = 150
th_pix_blanc_sup = 60

#################################

clean_list_images = []
for i in range(0, data.shape[0]):
    print(i)
    try:
        clean_list_images.append(digits_clean_loc(i,10,15,50,150,150))
    except AttributeError:
        pass
len(clean_list_images)

# dataframe with name and list of arrays for the digits
prediction_data = pd.DataFrame(clean_list_images, columns = ['image', 'flatten_arrays'])
prediction_data.head()

# Getting the labels

In [123]:
def new_labels(old_label):
    number_str = str(old_label)
    if len(number_str) == 1:
        return '   ' + number_str
    if len(number_str) == 2:
        return '  ' + number_str
    if len(number_str) == 3:
        return ' ' + number_str
    if len(number_str) == 4:
        return number_str
    
#define new column for the labels, where each of the label is a string of length 4
data['used_liter2'] = data['used_liter'].apply(lambda x: new_labels(x))
full_data = pd.merge(data, prediction_data, on= 'image').copy()
full_data.head()

,used_liter,image,used_liter2,flatten_arrays
0,33,e104664ba1792dde641d87cd5d95f1df06786140.jpg,33,"[[0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 25..."
1,29,48990b5cbe173868040bd33f06fb1b80c2b4f28a.jpg,29,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,230,9e111802446b62b86aeffe911415ad28227caba7.jpg,230,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,..."
3,43,f78fe5a461f28bc770a7dd856878bb4a314a9027.jpg,43,[]
4,238,c836ea17748e562c99f93edc51f2b900664ec37d.jpg,238,"[[0, 0, 0, 0, 68, 255, 255, 255, 255, 255, 255..."

# For the flatten arrays

In [124]:
full_data['n_digits'] = [len(i) for i in full_data.flatten_arrays]
full_data.head()

,used_liter,image,used_liter2,flatten_arrays,n_digits
0,33,e104664ba1792dde641d87cd5d95f1df06786140.jpg,33,"[[0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 25...",2
1,29,48990b5cbe173868040bd33f06fb1b80c2b4f28a.jpg,29,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",3
2,230,9e111802446b62b86aeffe911415ad28227caba7.jpg,230,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...",3
3,43,f78fe5a461f28bc770a7dd856878bb4a314a9027.jpg,43,[],0
4,238,c836ea17748e562c99f93edc51f2b900664ec37d.jpg,238,"[[0, 0, 0, 0, 68, 255, 255, 255, 255, 255, 255...",3

In [125]:
def true_digit_numbers(string_column, digits_column): 
    new_column = string_column[(4-digits_column):]
    return new_column 

full_data['used_liter3'] = [true_digit_numbers(x,y) for x,y in zip(full_data['used_liter2'], full_data['n_digits'])]
full_data.head()

,used_liter,image,used_liter2,flatten_arrays,n_digits,used_liter3
0,33,e104664ba1792dde641d87cd5d95f1df06786140.jpg,33,"[[0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 25...",2,33
1,29,48990b5cbe173868040bd33f06fb1b80c2b4f28a.jpg,29,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",3,29
2,230,9e111802446b62b86aeffe911415ad28227caba7.jpg,230,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...",3,230
3,43,f78fe5a461f28bc770a7dd856878bb4a314a9027.jpg,43,[],0,
4,238,c836ea17748e562c99f93edc51f2b900664ec37d.jpg,238,"[[0, 0, 0, 0, 68, 255, 255, 255, 255, 255, 255...",3,238

In [126]:
digit_data = full_data[['used_liter3','flatten_arrays']]
digit_label = [small_number for big_number in digit_data['used_liter3'] for small_number in big_number]
digit_array = [array for list_of_arrays in digit_data['flatten_arrays'] for array in list_of_arrays]

In [127]:
digit_result = pd.DataFrame(
    {'label': digit_label,
     'array': digit_array
    })

digit_result.head()

                                               array label
0  [0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 255...     3
1  [0, 0, 0, 0, 0, 115, 255, 255, 255, 255, 255, ...     3
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     2
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     9

# PREDICTION PART

## Data Augmentation

# to get an even distribution between classes

def random_rotation(image):
    random_degree = random.uniform(-25, 25)
    return sk.transform.rotate(image, random_degree)

def random_noise(image):
    return sk.util.random_noise(image)


available_transformations = {
    'rotate': random_rotation,
    'noise': random_noise,
}

num_transformations_to_apply = random.randint(1, len(available_transformations))

transformed_image = None
num_tot = 90

for l in range(0,10):
    training_dir = 'Digits/' + str(l) + '/'# loop on all files of the folder and build a list of files paths
    images = [os.path.join(training_dir, f) for f in os.listdir(training_dir) if os.path.isfile(os.path.join(training_dir, f))]
    num = len(images)
    while num <= num_tot:
        image_path = random.choice(images)
        image_to_transform = sk.io.imread(image_path)
        key = random.choice(list(available_transformations))
        transformed_image = available_transformations[key](image_to_transform)
        sk.io.imsave('{}/augm_img_{}.jpg'.format(training_dir, num), transformed_image)
        num += 1

## KNN Image recognition

In [173]:
labels = []
pixels = []

for l in range(0,10):
    training_dir = 'Digits/' + str(l) + '/'
    for filename in os.listdir(training_dir):
        if (filename.endswith('.jpg')):
            training_digit_image = cv2.imread(training_dir + filename)
            training_digit = cv2.cvtColor(training_digit_image, cv2.COLOR_BGR2GRAY)
            inv_image = cv2.threshold(training_digit, 150, 255, cv2.THRESH_BINARY_INV)[1]
            resized_image = cv2.resize(inv_image, (80,50)).flatten()
            pixels.append(np.array(resized_image))    
            labels.append(l)

# we add to the training set some cropped digits labelled by hand, coming from the images
for l in range(0,10):
    training_dir = 'Digits_by_hand/' + str(l) + '/'
    for filename in os.listdir(training_dir):
        if (filename.endswith('.jpg')):
            training_digit_image = cv2.imread(training_dir + filename)
            training_digit = cv2.cvtColor(training_digit_image, cv2.COLOR_BGR2GRAY)            
            resized_image = cv2.resize(training_digit, (80,50)).flatten()
            pixels.append(np.array(resized_image))    
            labels.append(l)
                    

# store features array into a numpy array
features  = np.array(pixels, 'float64')
# split the labled dataset into training / test sets
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=.25)
# train using K-NN
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)

# get the model accuracy
model_score_knn = knn.score(X_test, y_test)
print(' Validation score of the model: ', model_score_knn)

 Validation score of the model:  0.9516129032258065

# Prediction on each image

In [150]:
def knn_prediction(full_image):
    test = np.array(full_image, 'float64')
    try: 
        y = knn.predict(test)
        y_string = [str(x) for x in y]
        final_y = int(''.join(y_string))
    except ValueError:
        y = 'ValueError'
        final_y = -1
    return final_y  

full_data['prediction'] = [knn_prediction(list_of_arrays) for list_of_arrays in full_data['flatten_arrays']]
full_data.head()

,used_liter,image,used_liter2,flatten_arrays,n_digits,used_liter3,prediction
0,33,e104664ba1792dde641d87cd5d95f1df06786140.jpg,33,"[[0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 25...",2,33,33
1,29,48990b5cbe173868040bd33f06fb1b80c2b4f28a.jpg,29,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",3,29,241
2,230,9e111802446b62b86aeffe911415ad28227caba7.jpg,230,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...",3,230,312
3,43,f78fe5a461f28bc770a7dd856878bb4a314a9027.jpg,43,[],0,,-1
4,238,c836ea17748e562c99f93edc51f2b900664ec37d.jpg,238,"[[0, 0, 0, 0, 68, 255, 255, 255, 255, 255, 255...",3,238,382

In [184]:
print('Ratio of images for which we could not detect any digits:', sum(full_data.prediction == -1) / full_data.shape[0])
print('Number of images for which we found digits:', sum(full_data.prediction != -1))

# We detected 220 screen rectangles out of 240 but some of them were corrupted

Ratio of images for which we could not detect any digits: 0.12272727272727273
Number of images for which we found digits: 193

In [183]:
test_data = full_data[full_data.prediction != -1].copy()
test_data['error'] = abs(test_data['used_liter'] - test_data['prediction'])
print('Percentage of accurate prediction within 10 units : ', sum(test_data['error'] < 10) / test_data.shape[0])
print('Number of accurate prediction 10 units :', test_data[test_data['error'] <= 10].shape[0])

Percentage of accurate prediction within 10 units :  0.21761658031088082
Number of accurate prediction 10 units : 46

# Prediction digit per digit

In [189]:
digit_result.head()

                                               array label  prediction
0  [0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 255...     3           3
1  [0, 0, 0, 0, 0, 115, 255, 255, 255, 255, 255, ...     3           3
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...                 2
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     2           4
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     9           1

In [191]:
digit_result['prediction'] = knn.predict(list(digit_result['array']))
digit_result.head()

                                               array label  prediction
0  [0, 0, 0, 0, 198, 255, 255, 255, 255, 255, 255...     3           3
1  [0, 0, 0, 0, 0, 115, 255, 255, 255, 255, 255, ...     3           3
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...                 2
3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     2           4
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     9           1

In [192]:
digit_test = digit_result[digit_result.label != ' '].copy()
digit_test['label'] = [int(digit) for digit in digit_test['label']]
digit_test['error'] = abs(digit_test['label'] - digit_test['prediction'] )

print('Accuracy score digits per digits:', accuracy_score(digit_test['label'], digit_test['prediction']))
print('Number of rightly classified digits:', sum(digit_test['error'] ==0 ))

Accuracy score digits per digits: 0.2526997840172786
Number of rightly classified digits: 117

In [1]:
193/240

0.8041666666666667

In [2]:
46/240

0.19166666666666668

In [11]:
0.24*0.8

0.192

In [8]:
46/193.0

0.23834196891191708

In [9]:
46/(0.8*240)

0.23958333333333334

In [5]:
46/0.217

211.9815668202765

In [6]:
1-0.12272727272727273

0.8772727272727273

In [7]:
0.8772727272727273 * 220

193.0